{% extends 'base.html' %}
{% block title %}Список заказов{% endblock %}
{% block content %}
<h2>Список Заказов</h2>
<div class="container">
    <div class="row text-center">
        {% for order in orders %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"> {{ order.time }}</h1>
                    <h1 class="card-title pricing-card-title"> {{ order.date }}</h1>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{% url 'restaurant:order_detail' order.pk %}">Подробно</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}